.banner-container {
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
}

.banner-image {
  width: 100%; /* Remplit la largeur du conteneur */
  height: auto; /* Ajuste automatiquement la hauteur en fonction de la largeur */
  object-fit: cover; /* Redimensionne tout en conservant le ratio d'aspect */
}



